.Header h1 {
  text-align: center;
  color: blue;
}

.Header h2 {
  text-align: center;
  color: orange;
}

.ItemForm {
  text-align: center
}

.ItemList ul, .ShoppingCart ul {
  list-style: none;
}

.ItemList li:nth-child(even) {
  background-color: lightgray;
}

.ShoppingCart li:nth-child(even) {
  background-color: lightgray;
}

.ItemList h3, .ShoppingCart h3, .ShoppingCart p {
  text-align: center;
}

.ShoppingCart {
  text-align: left;
}

.ShoppingContainer {
  display: flex;
  padding: 5px;
  margin: auto;
  justify-content: space-between;
  width: 95%;
  
}

.ItemList {
  width: 60%;
  padding: 5px;
}

.ShoppingCart {
  width: 40%;
  position: relative;
}

.CartTotal {
  position: absolute;
  bottom: auto;
  right: 0;
}

.ShoppingItem {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr 1fr 2fr 2fr;
  grid-gap: 8px;
  margin-bottom: 5px;
}

.CartItem {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 1fr 2fr;
  margin-bottom: 5px;
}

.Delete {
  background-color: red;
  max-width: 60%;
  border-radius: 9px;
}

.Add {
  background-color: green;
  color: white;
  max-width: 60%;
  border-radius: 9px;
}

.Remove {
  background-color: red;
  color: white;
  max-width: 80%;
  border-radius: 9px;
}

.FilterButton {
  text-align: center;
}